// Place all the styles related to the dice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {font-family:sans-serif;
      font-size:24pt;
      color:#7f2
    }

h1 {font-family:sans-serif;
    font-size: 48pt;
    font-weight: bold;
    color:#2a4 ;
    }

h2  {font-family:serif;
    font-size: 30pt;
    font-weight: bold;
    color:#606 ;
    }

